<ion-header>
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let product of products">
    <ion-card-header>
      <ion-card-subtitle>{{product.brand}}</ion-card-subtitle>
      <ion-card-title>{{product.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{product.description}}<br>
      <br>
      Price: {{product.price}}<br>
      Link: {{product.link}}
    </ion-card-content>
  </ion-card>

</ion-content>

